:root {
  --primaryColor: #333;
  --secondColor: #8e8e93;
  --mainRed: #c93400;
  --mainGreen: #248a3d;
  --mainBlue: #0071a4;
  --mainWhite: #fff;
}
* {
  box-sizing: border-box;
}
body {
  background: var(--primaryColor);
  color: var(--secondColor);
}
.btn {
  text-align: center;
  font-size: 15px;
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--mainWhite);
  outline: 0;
  border: none;
}
